html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width:100%;
	max-height:1000;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr 0.4fr;
	grid-template-rows: 1fr 7fr 0.4fr;
	grid-gap: auto;
	height: calc(100vh - 0px);
  
}
.central {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  color: #2c3233;
  background-color: #e1ebed;
  padding: 1em;
}
.top {
  grid-column: 1 / 4;
  grid-row: 1;
  color:#e1ebed;
  background-color: #2c3233;
  display: flex;
  align-items: center;
  padding-top: 0;

}
.sidebar {
  grid-column: 1 ;
  grid-row: 2 / 4;
  color:#e1ebed;
  background-color: #404647;
  align-items: center;
  padding: 1em;
}

.controls{
	padding-left: 1px;
}
.td-top{
	background-color: blue;
}

.w3-btn{
	height: 100%;
}
.w3-btn:hover{
	background-color: #404647;
}

.w3-bar-custom{
	background-color: #2c3233;
	height: 100%;
}