html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	/* position: absolute; */
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header h4 {
	font-size: 25px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.link_style{
	background-color: #b4c2c4;
}

.password {
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	min-width: 100px;
}


a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
  }