html, body {
	padding: 0;
	margin: 0;
  overflow-y: hidden;
}

#passwords td, #passwords th {
  border: 1px solid black;
  text-align: center;
}
#passwords {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#passwords tr:hover {background-color: #ddd;}
#passwords th {
  background-color: grey;
  color: white;
}


body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  
}

* {
	box-sizing: border-box;
}

.scrollable{
  
}

.scroll-control{
  height: 63%;
  overflow-y: scroll;
}

.wrapper {
	max-width:100%;
	max-height:100%;
	margin: 0 auto;
	display: grid;
  grid-template-columns: repeat(6, 16.67%);
  /* grid-template-columns: .5fr auto; */
  grid-gap: auto;
  grid-auto-rows: minmax(45px, 45px);
  /* height: calc(50vh - 0px); */
  /* grid-template-rows: .5fr 1fr; */
}

.central {
  grid-column: 2 / 7;
  grid-row: 2 / 30;
  color: #2c3233;
  background-color: #e1ebed;
  padding: 1em;
}

.top {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  color:#e1ebed;
  background-color: #2c3233;
  display: flex;
  align-items: center;
  padding-top: 0;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / 30;
  color:#e1ebed;
  background-color: #404647;
  align-items: center;
  padding: 1em;
}

.controls{
	padding-left: 1px;
}
.td-top{
	background-color: blue;
}

.w3-btn{
	height: 100%;
}

.w3-btn:hover{
	background-color: #404647;
}

.w3-bar-custom{
	background-color: #2c3233;
	height: 100%;
}